<div class="main">
	<h1>All List</h1>

	<p class="text">Welcome to ToDo Manager! The perfect place to store all of your to do items.</p>

	<p class="text">Below is the list of your items. Click the 'customise' buttom to view your item in full Once there you can edit or delete your item.</p>
	<br>
	<button><%= link_to "Add New Item", new_list_path %></button>
	<hr>
	<br>

	<%= render @lists %>
</div>
