<div class="main">
	<h1>Your To Do List</h1>

	<p class="text">Welcome to ToDo Manager! The perfect place to store all of your to do items.</p>

	<p class="text" id="underline">The items below are on your to do list.</p>
	<p class="text"> Click the 'customise' buttom to view your item in full. Once there you can edit or delete your item.</p>
	<p class="text">Or click 'add new item', to create something new for your list.</p>
	<br>
	<button><%= link_to "Add New Item", new_list_path %></button>
	<hr>
	<br>

	<%= render @lists %>
</div>
